<div class="w3-light-grey" style="min-height: 100vh;">
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <br class="w3-margin">
    <div>
      <br class="w3-margin">
      <h2 class="w3-margin">Consultation Services</h2>

      <div class="w3-panel" style="padding: 16px; display: flex;">
        <div class="w3-half" style="padding-right: 10px;">
          <div class="w3-white">
            <div class="w3-responsive w3-card-4">
              <table class="w3-table w3-bordered">
                <thead>
                <tr class="w3-theme">
                  <th class="w3-light-grey"></th>
                  <th class="w3-light-grey">Name</th>
                  <th class="w3-light-grey">Business Name</th>
                  <th class="w3-light-grey">Actions</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let consultation of getFirstHalfConsultations()">
                  <tr>
                    <td>
                      <input type="checkbox" (change)="performAction(consultation)">
                    </td>
                    <td>{{ consultation.consultationName }}</td>
                    <td>{{ consultation.business.bizname }}</td>
                    <td>
                      <button class="w3-black" style="border:0px; border-radius: 5px;" (click)="performAction(consultation)">View</button>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="w3-half" style="padding-left: 10px;">
          <div class="w3-white">
            <div class="w3-responsive w3-card-4">
              <table class="w3-table w3-striped w3-bordered">
                <thead>
                <tr class="w3-theme">
                  <th class="w3-light-grey"></th>
                  <th class="w3-light-grey">Name</th>
                  <th class="w3-light-grey">Business Name</th>
                  <th class="w3-light-grey">Actions</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let consultation of getSecondHalfConsultations()">
                  <tr>
                    <td>
                      <input type="checkbox" (change)="performAction(consultation)">
                    </td>
                    <td>{{ consultation.consultationName }}</td>
                    <td>{{ consultation.business.bizname }}</td>
                    <td>
                      <button class="w3-black" style="border:0px; border-radius: 5px;" (click)="performAction(consultation)">View</button>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div  style="padding: 16px; ">
      <div *ngIf="consultation" class=" w3-panel w3-white w3-card-4" style="padding: 16px;">
        <h3>Consultation Details</h3>
        <form>
          <p>
            <label class="w3-text-grey" for="consultationName">Name:</label>
            <input id="consultationName" class="w3-input" [(ngModel)]="consultation.consultationName" name="consultationName" readonly>
          </p>
          <p>
            <label class="w3-text-grey" for="consultationDescription">Description:</label>
            <input id="consultationDescription" class="w3-input" [(ngModel)]="consultation.consultationDescription" name="consultationDescription" readonly>
          </p>
          <p>
            <label class="w3-text-grey" for="price">Price:</label>
            <input id="price" class="w3-input" [(ngModel)]="consultation.price" name="price" readonly>
          </p>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>
