<div class="w3-light-grey" style="min-height: 100vh;">

<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:50px;padding-bottom:20px;">
    <h5><b><i class="fa fa-dashboard"></i> Dashboard</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom ">
    <div class="w3-quarter">
      <div class="w3-container w3-light-grey w3-padding-16 w3-card">
        <div class="w3-left"><i class="fa fa-users w3-xlarge"></i></div>
        <div class="w3-right">
          <h3>52</h3>
        </div>
        <div class="w3-clear"></div>
        <h4 class="w3-text-grey">Total Users</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-grey w3-padding-16 w3-card">
        <div class="w3-left"><i class="fa fa-users-cog w3-xlarge"></i></div>
        <div class="w3-right">
          <h3>{{numberOfAllUsers}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4 class="w3-text-grey">IT Experts</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-grey w3-padding-16 w3-card">
        <div class="w3-left"><i class="fa fa-users-rays w3-xlarge"></i></div>
        <div class="w3-right">
          <h3>{{numberOfITExperts}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4 class="w3-text-grey">Entrepreneurs</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-grey w3-padding-16 w3-card">
        <div class="w3-left"><i class="fa fa-list w3-xlarge"></i></div>
        <div class="w3-right">
          <h3>{{numberOfEntrepreneurs}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4 class="w3-text-grey">Orders</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <br>
      <div class="w3-third">
        <h5>Distribution of users</h5>

        <div>
          <canvas id="donutChart" width="300" height="300"></canvas>
        </div>

      </div>
      <div class="w3-twothird">
        <h5>New Users</h5>

        <div>
          <canvas id="lineChart" width="300" height="300"></canvas>
        </div>

      </div>
    </div>
  </div>



  <!-- End page content -->
</div>
</div>

