<!-- Top container -->
<div class="w3-bar w3-top w3-light-grey w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> Menu</button>
  <a (click)=logout()  class="w3-bar-item w3-button w3-right"><i class="fa fa-user"></i></a>

</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="favicon.ico" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span><strong>Tech Integration & Entrepreneurship Platform</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a>
    <a routerLink="/admin/dashboard" class="w3-bar-item w3-button w3-padding w3-light-grey"><i class="fa fa-eye fa-fw"></i> Overview</a>
    <a routerLink="/admin/manage-users" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i> Manage Users</a>
    <a routerLink="/admin/manage-itexperts" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i> Manage IT Experts</a>
    <a routerLink="/admin/manage-orders" class="w3-bar-item w3-button w3-padding"><i class="fa fa-print fa-fw"></i> Manage Orders</a>
    <a routerLink="/admin/manage-consultations" class="w3-bar-item w3-button w3-padding "><i class="fa fa-calendar-days fa-fw"></i> View Consultation</a>
    <a routerLink="/admin/manage-entrepreneurs" class="w3-bar-item w3-button w3-padding"><i class="fa fa-address-card fa-fw"></i> Manage Entrepreneurs</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


<router-outlet></router-outlet>
