<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-black" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Drive Business Growth &<br>On Demand Experiences</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Drive Business Growth &<br>On Demand Experiences</span><br>
    <span class="w3-large">Start something that matters and stop wasting valuable time with projects that just isn't you.</span>
    <p>
      <a routerLink="/login" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-margin-right"> IT Expert</a>
      <a routerLink="/login" class="w3-button w3-border w3-border-dark-grey w3-padding-large w3-large w3-margin-top "> Entrepreneur</a>
    </p>
  </div>
</header>


<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ABOUT THE PLATFORM</h3>
  <p class="w3-center w3-large">Key features of our business</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
        <span class="w3-xxlarge">14+</span>
        <br>Happy Businesses
      </div>
      <div class="w3-quarter">
        <span class="w3-xxlarge">55+</span>
        <br>Completed Orders
      </div>
      <div class="w3-quarter">
        <span class="w3-xxlarge">89+</span>
        <br>Available Resources
      </div>
      <div class="w3-quarter">
        <span class="w3-xxlarge">150+</span>
        <br>Subscribers
      </div>
    </div>
</div>

<!-- testomonials Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding w3-center">
    <p>Testemonials</p>
    <h3>A unique blend of cutting-edge tech solutions and business expertise,<br>tailored to empower non-tech entrepreneurs to thrive in today's digital landscape.</h3>
  </div>

    <div class="w3-row-padding" style="padding-top:80px ">


      <div class="w3-content" style="max-width:800px;position:relative">

        <img class="mySlides w3-animate-opacity" src="/assets/customer.png" style="width:100%">
        <img class="mySlides w3-animate-opacity" src="/assets/customer2.png" style="width:100%">

        <a class="w3-button w3-hover-dark-grey" style="position:absolute;top:45%;left:0;" (click)="plusDivs(-1)">❮</a>
        <a class="w3-button w3-hover-dark-grey" style="position:absolute;top:45%;right:0;" (click)="plusDivs(+1)">❯</a>
      </div>



    </div>
</div>

<!-- Promo Section -->
<div class="w3-container w3-white" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m9">
      <p>Finding the support you need has never been easier</p>
      <h3>Welcome to our innovative platform, where technology meets entrepreneurship seamlessly.<br>Join us today and unlock the full potential of your business in the digital age!</h3>
      <p>
        <a routerLink="/login" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-margin-right"> IT Expert</a>
        <a routerLink="/login" class="w3-button w3-border w3-border-dark-grey w3-padding-large w3-large w3-margin-top "> Entrepreneur</a>
      </p>
    </div>
  </div>
</div>

<!-- last Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m9">
      <p>Discover</p>
      <h3>A wealth of resources, expert insights, and consultation services designed to guide you through every step of your entrepreneurial journey.</h3>
    <p>Whether you're looking to integrate technology into your business, optimize workflows, or enhance your digital presence, our platform has you covered.</p>
    </div>
    <div class="w3-col m3">
        <p>
          <a routerLink="/login" class="w3-button w3-border w3-border-dark-grey w3-padding-large w3-large w3-margin-top w3-margin-right "> Entrepreneur</a>
          <a routerLink="/login" class="w3-button w3-black w3-padding-large w3-large w3-margin-top "> IT Expert</a>
      </p>
    </div>
  </div>
</div>




