<div class="w3-light-grey" style="min-height: 100vh;">
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <div class="w3-container w3-clear ">
      <div class="w3-container"style="margin-top:60px;">
      <br>

      <div >
        <h2>Users</h2>
        <p w3-class="w3-large">Manage users in your system.</p>
      </div>
      <div class="w3-responsive w3-card-4">
        <table class="w3-table w3-bordered">
          <thead>
          <tr class="w3-theme ">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Authority</th>
          </tr>
          </thead>
          <tbody class="w3-white">
          <tr *ngFor="let user of paginatedUsers">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.authority }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="w3-center">
      <!-- Pagination -->
      <div class="w3-center w3-padding-32">
        <div class="w3-bar">
          <a href="javascript:void(0)" (click)="prevPage()" class="w3-bar-item w3-button w3-hover-black">« Previous </a>
          <a href="javascript:void(0)" *ngFor="let page of pages" (click)="setPage(page)" class="w3-bar-item w3-button" [class.w3-theme]="currentPage === page">{{ page }}</a>
          <a href="javascript:void(0)" (click)="nextPage()" class="w3-bar-item w3-button w3-hover-black"> Next »</a>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
</div>
