<div class="w3-light-grey" style="min-height: 100vh;">
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <div class="w3-container w3-clear ">
    <div class="w3-container"style="margin-top:60px;">

      <!-- Manage Orders Card -->
      <div class="w3-container">
        <h2>Manage Orders</h2>
        <button class="w3-button w3-black  w3-right" (click)="submitAction()">Submit & Get Order</button>
      </div>

      <div>
        <!-- Customer Details Card -->
        <div class="w3-responsive w3-card-4" style="margin-top:25px;">
          <div style="margin:10px;">
            <b><span>Customer Details:</span></b>
          </div>
          <div class="w3-row-padding" style="margin:10px;">
            <div class="w3-quarter">
              <label for="name">Name:</label>
              <input type="text" id="name" [(ngModel)]="orderDTO.name" class="w3-input" required>
            </div>
            <div class="w3-quarter">
              <label for="email">Email:</label>
              <input type="email" id="email" [(ngModel)]="orderDTO.email" class="w3-input" required>
            </div>
            <div class="w3-quarter">
              <label for="contact">Contact Number:</label>
              <input type="number" id="contact" [(ngModel)]="orderDTO.contactNumber" class="w3-input" required>
            </div>
            <div class="w3-quarter">
              <label for="payment">Payment Method:</label>
              <input type="text" id="payment" [(ngModel)]="orderDTO.paymentMethod" class="w3-input" required>
            </div>
          </div>
        </div>

        <hr />

        <!-- Select Business and Consultation Card -->
        <div class="w3-responsive w3-card-4" style="margin-top:25px;">
          <div style="margin:10px;">
            <b><span>Select Business and Consultation:</span></b>
          </div>
          <div class="w3-row-padding" style="margin:10px;">
            <div class="w3-quarter">
              <label for="selectedBusiness">Business:</label>
              <select id="selectedBusiness" [(ngModel)]="orderDTO.businessId" class="w3-select" required (change)="onBusinessSelection($event)">
                <option *ngFor="let business of businesses" [value]="business.id">{{ business.bizname }}</option>
              </select>
            </div>
            <div class="w3-quarter">
              <label for="consultationServices">Consultation:</label>
              <select id="consultationServices" [(ngModel)]="selectedConsultation" class="w3-select" required (change)="updateConsultationPrice($event)">
                <option *ngFor="let consultation of consultationServices" [value]="consultation.id">{{ consultation.consultationName }}</option>
              </select>
            </div>
            <div class="w3-quarter">
              <label for="price">Price:</label>
              <input *ngIf="selectedConsultation" type="number" id="price" [(ngModel)]="selectedConsultation.price" class="w3-input" required readonly>
            </div>

            <div class="w3-quarter">
              <label for="amount">Total Amount: </label>
              <input type="number" id="amount" [(ngModel)]="orderDTO.total" class="w3-input" required readonly>
            </div>
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="w3-container" style="margin-top:25px;">
        <div class="w3-row-padding">
          <div class="w3-twothird">
            <button class="w3-button w3-light-grey w3-right w3-card-4" (click)="add()" [disabled]="validateProductAdd()">Add Service</button>
          </div>
          <div class="w3-third">
            <button class="w3-button w3-light-grey  w3-card-4" (click)="handleDeleteAction()">Delete Order</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
